<div class="row justify-content-center">
  <div class="chat-box col-md-8 card mx-auto">
    <div class="card-body overflow-auto" style="height: 400px;">
      <ul *ngFor="let question of questions">
        <li class="speech-bubble speech-bubble-left  ">
          {{ question.label }}
        </li>
        <li
          (click)="onResponseClick(response, question)"
          [ngClass]="{ selectedResponse: response.isSelected }"
          *ngFor="let response of question.responses"
          class="speech-bubble speech-bubble-right "
        >
          {{ response.label }}
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="sendingConversation" class="col-md-8 mx-auto">
  <button (click)="onRetryBtnClick()" class="btn btn-primary btn-lg btn-block">
    Redémarrer la conversation
  </button>
</div>
