.speech-bubble {
  position: relative;
  border-radius: 0.4em;
  font: Verdana, Geneva, sans-serif;
  font-size: 18px;
  vertical-align: middle;
  line-height: normal;
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  text-align: left;
  text-justify: inter-word;
  max-width: 60%; /* limit width */
  word-break: break-all; /* wrap extended text*/
}

.speech-bubble-right {
  background: #f3e5f5;
  margin-left: 40%;
  cursor: pointer;
}
.speech-bubble-left {
  background: #e96b62;
  color: white;
}
.speech-bubble-right:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-left-color: #f3e5f5;
  border-right: 0;
  margin-top: -0.5em;
  margin-right: -0.5em;
}
.speech-bubble-left:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 0.5em solid transparent;
  border-right-color: #e96b62;
  border-left: 0;
  margin-top: -0.5em;
  margin-left: -0.5em;
}
.selectedResponse {
  background: #cb9ca1;
}
