<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="jumbotron welcome">
    <h1 class="display-4">
      CHATBOT <span style="color:#f0c11c;">PANDACOLA</span>
    </h1>
    <p class="lead">
      Bienvenue au Chat Bot du site PANDACOLA
    </p>
  </div>
  <router-outlet></router-outlet>
</div>
