/* You can add global styles to this file, and also import other style files */
html,
body {
  min-height: 100%;
  height: auto;
  margin: 0;
}
body {
  background-color: #e7e6f8;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
